<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :login_id %>
    <%= form.collection_select :login_id, Login.all, :id, :user_name, prompt:"User name" %>
  </div>

  <div class="field">
    <%= form.label :route_id %>
    <%= form.collection_select :route_id, Route.all, :id, :from_location, prompt:"select PickUp location"  %>
  </div>
  
  <div class="field">
    <%= form.label :route_id %>
    <%= form.collection_select :route_id, Route.all, :id, :to_location, prompt:"select Drop location"  %>
  </div>

    <div class="field">
    <%= form.label :date %>
    <%= form.collection_select :route_id, Route.all, :id, :route_time, prompt:"select date"  %>
  </div>





  <div class="field">
    <%= form.label :no_tickets %>
    <%= form.number_field :no_tickets, id: :book_no_tickets %>
  </div>

  <div class="field">
    <%= form.label :phone_no %>
    <%= form.number_field :phone_no, id: :book_phone_no %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :book_email %>
  </div>

  <div class="field">
    <%= form.label :total_fare %>
    <%= form.collection_select :total_fare, Route.all, :id, :fare, id: :book_total_fare %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
