<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= Login.find(@book.login_id).user_name %>
</p>

<p>
  <strong>Route:</strong>
  <%= @book.route_id %>
</p>

<p>
  <strong>Pick Up Point</strong>
  <%= Route.find(@book.route_id).from_location %>
</p>

<p>
  <strong>End Point</strong>
  <%= Route.find(@book.route_id).to_location %>
</p>

<p>
  <strong>No. of Tickets</strong>
  <%= @book.no_tickets %>
</p>

<p>
  <strong> Bus no.</strong>
  <%= Route.find(@book.route_id).bus_id %>
</p>

<p>
  <strong>Date Time</strong>
  <%= Route.find(@book.route_id).route_time %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @book.phone_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @book.email %>
</p>

<p>
  <strong>Total fare:</strong>
  <%= Route.find(@book.total_fare).fare %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
